header {
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 14vh;
    left: 0vw;
    top: 0vh;

    background: rgb(127, 1, 254);
}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 7vh;
    left: 0vw;
    top: 100vh;

    background: #7F01FE;
}

#profile-pic {
    position: absolute;
    width: 4.5vw;
    height: 8vh;
    left: 3.5vw;
    top: 3vh;

    background: #D9D9D9;
}

#hamburger-menu {
    position: absolute;
    width: 4.5vw;
    height: 8vh;
    left: 92.5vw;
    top: 3vh;

    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    position: absolute;
    width: 15vw;
    height: 8vh;
    left: 15vw;
    top: -.5vh;

    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3em;
    line-height: 1em;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#linkedin {
    margin-left: 4vw;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#github {
    margin-left: 82vw;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2.3em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}